/page_structure/images/matrix_after.jpg
/.idea/
/build_site/updated_site.JPG
/build_site/site.JPG
/build_site/more_text.JPG
/build_site/edited_site.JPG
/build_site/day_code.png
/build_site/css_milestone.JPG
/build_site/coding_time.jpg
/build_site/code_pic.png
/build_site/html/index2.html
